html {
    min-height: 100%;
    min-height: 100%;
    background-image: url(./HomePageImages/wolfgang-hasselmann-5wdTRm7FOFU-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  body {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10%;
  }
  

  a:link {
    color: white;
  }
  
  a:hover {
    color: slateblue;
  }

  a:visited {
    color: white;
  }

  body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }

  h1 {
    text-align:center;
  }

  h4 {
    text-align:center;
  }

  #bodyTitle {
    font-size: 25px;
  }

  #bodyTitle2 {
    font-size: 20px;
  }

  form {
    text-align:center;
  }

  #namecontact {
    border-radius: 30px;
    border-style: none;
    background-color: white;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 28px;
  }

  #myemail {
    border-radius: 30px;
    border-style: none;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
  }

  #phoneNumber {
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 2px;
  }
 
  #comments {
    border-radius: 30px;
    border-style: none;
    background-color: white;
    margin-top: 30px;
  }

  #submitbtn, #resetbtn {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.6;
    border-radius: 12px;
  }
  #namecontact, #phoneNumber, #myemail{
    height: 20px;
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
  }

  #submitbtn, #resetbtn {
    transition-duration: 0.4s;
    margin-top: 35px;
  }
  
  #submitbtn:hover, #resetbtn:hover {
    background-color: rgb(39, 24, 24); 
    color: white;
  }
  
  #comments{
    
    width:250px;
    border-color: grey;
    opacity: 0.6;
    background-color: white;
  }
  .footer {
    color: white;
    text-align: center;
    border-radius: 30px;
    margin-bottom: -7%;
    margin-top: 100px;
  }

  #logo {
    opacity: 0.7;
    margin-left: 97%;
    margin-bottom: -11.25%;
  }

  