
@font-face {
  font-family: Arizonia;
  src: url("./fonts/Arizonia-Regular.ttf");
}

html {
  height: 100%;
  background-image: url(./HomePageImages/wolfgang-hasselmann-5wdTRm7FOFU-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'Courier New', Courier, monospace;
}
 
#personalPhoto {
position: sticky;
opacity: 1;
max-width: 100%;
z-index: 0;
opacity: 0.6;
margin-top: 3%;
height: auto;
max-width: 100%;
float: left;
margin-left: 11%;

}

#motto {
  margin-top: 12%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
}

#containerText {
  
  text-align: center;
  color: #EDF0F9;
  font-family: 'Courier New', Courier, monospace, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  position: static;
}

a:link {
  color: white;
}

a:hover {
    color: slateblue;
}

#name {
  font-family: Arizonia;
}

.footer {
  color: white;
  text-align: center;
  border-radius: 30px;
  margin-top: 100px;
}

#logo {
  opacity: 0.7;
  margin-left: 97%;
  margin-bottom: -3.5%;
}